### STS ###


### IntelliJ IDEA ###
*.iws
*.ipr
application.properties
SpringbootandrestfullandtomcatApplicationTests.java
SpringbootandrestfullandtomcatApplication.java

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
